// стили сетки календаря и заголовка календаря с днями недели
.calendar__week {
    position: absolute;
    left: 5%;
    top: 0.5%;
    display: grid;
    width:93%;
    height: 100%;
    grid-template-columns: repeat(7, (100% / 7)); /* 7 дней в неделе */
  }
  
  .calendar__day {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(60px, 1fr)); /* Автоматические строки */
    border: 0.2px solid #ccc;
  }
  
  .calendar__time-slot {
    border-top: 1px solid #ccc;
    height: 60px;
  }


.calendar__week-container {
    position: relative;
}

.calendar {
  padding-bottom: 5px;
}

.calendar__body {
  margin-top: 150px;
}